<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to the web folder
    RewriteCond %{REQUEST_URI} !^/2026/cms/do-san-diego/web/
    RewriteRule ^(.*)$ web/$1 [L]
</IfModule>
